version: '3'
services:
  solr-node1:
    image: {{docker_image}}:{{solr_version}}
    container_name: solr-node1
    labels:
      io.benchmark.description: "solr-benchmark"
    {%- if docker_cpu_count is defined %}
    cpu_count: {{docker_cpu_count}}
    {%- endif %}
    {%- if docker_mem_limit is defined %}
    mem_limit: {{docker_mem_limit}}
    {%- endif %}
    environment:
      - "SOLR_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - {{solr_data_dir}}:/var/solr/data
      - {{solr_log_dir}}:/var/solr/logs
      - {{solr_heap_dump_dir}}:/var/solr/heapdump
    {%- for host_path, docker_path in mounts.items() %}
      - {{host_path}}:{{docker_path}}
    {%- endfor %}
    ports:
      - {{http_port}}:8983
    networks:
      - solr-net
    healthcheck:
          test: curl -f http://localhost:8983/solr/admin/ping
          interval: 5s
          timeout: 2s
          retries: 10

volumes:
  solr-data1:
networks:
  solr-net:
